/* Google Fonts: Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Google Fonts: Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');



/* Tailwind CSS */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .button{
        @apply text-xs font-inter px-3 py-1 font-semibold bg-transparent uppercase cursor-pointer rounded-full text-torch-200 hover:text-gray-50  hover:bg-torch-300 transition-all 
    }
    .theme-button{
        @apply text-xs px-3 py-1 bg-transparent uppercase cursor-pointer rounded-md bg-torch-100 text-gray-100 hover:bg-torch-300 transition-all 
    }
    .menu-button{
        @apply text-xs px-3 py-1 bg-transparent uppercase cursor-pointer rounded-md text-torch-500 hover:bg-torch-300 hover:text-gray-50  transition-all 
    }
}


html,
body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}